.contacts-item {
  margin-bottom: 15px;

  @media (min-width: 660px) {
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }

  @media (min-width: 980px) {
    padding-bottom: 20px;
    margin: 0 35px;
    flex-basis: 250px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }
}

.contacts-item__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $color-darkblue;

  @media (min-width: 980px) {
    margin-bottom: 22px;
  }
}

.contacts-item__content {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $color-pink;

  a {
    color: $color-pink;
    text-decoration: none;
  }
}
