.contacts {
  padding-bottom: 230px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.contacts__container {
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

.contacts__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $color-darkblue;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 40px;
  }
}
