.contacts-item {
  margin-bottom: 17px;

  @media (min-width: 660px) {
    padding-top: 18px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    width: 45%;

    &--come {
      margin-bottom: 15px;
    }
  }

  @media (min-width: 960px) {
    padding-bottom: 20px;
    margin: 0 35px;
    flex-basis: 250px;

    &--call {
      order: 1;
    }

    &--write {
      order: 3;
    }

    &--come {
      order: 2;
    }
  }

  &--write a,
  &--call a {
    &:hover {
      color: $color-darkblue;
      text-decoration: underline;
    }

    &:active {
      color: rgba($color-darkblue, 0.3);
      text-decoration: none;
    }
  }
}

.contacts-item__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $color-darkblue;

  @media (min-width: 960px) {
    margin-bottom: 22px;
  }
}

.contacts-item__content {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $color-pink;

  a {
    color: $color-pink;
    text-decoration: none;
  }
}
