.contacts {
  position: relative;
  margin-top: 40px;
  padding-bottom: 230px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media #{$retina} {
    background-image: url(../img/bg-map-mobile@2x.jpg);
    background-size: 320px auto;
  }

  @media (min-width: 660px) {
    margin-top: 50px;
    padding-bottom: 380px;
    background-image: url(../img/bg-map-tablet@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-map-tablet@2x.jpg);
      background-size: 700px auto;
    }
  }

  @media (min-width: 960px) {
    margin-top: 60px;
    padding-bottom: 500px;
    background-image: url(../img/bg-map-desktop@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-map-desktop@2x.jpg);
      background-size: 1200px auto;
    }
  }

  &:after {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-20px);
    content: "";
    background-image: url(../img/icon-map-marker.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}

.contacts__container {
  padding-top: 35px;
  padding-bottom: 40px;
  margin: 0 auto;
  background: #fff;
  text-align: center;

  @media (min-width: 660px) {
    padding-bottom: 0;
  }

  @media (min-width: 960px) {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;


  }
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $color-darkblue;
  text-align: center;
  background: #fff;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 42px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 60px;
  }
}
