.copyright {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  color: $color-darkblue;
  text-align: center;


  @media (min-width: 660px) {
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    text-align: right;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.copyright__link svg {
  padding-left: 13px;
  vertical-align: middle;
  fill: $color-pink;
}
