.download {
  background-color: #1d2631;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.download__item a {

}

.download__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  color: rgba(#fff, 0.7);
}
