.form-photo {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #f2f2f2;

  @media (min-width: 660px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.form-photo__image-container {
  margin: 0 auto;
}
.form-photo__file {
  display: none;
}
