.form-photo {

  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
  }
}

.form-photo__image-container {
  margin: 0 auto;

  @media (min-width: 660px) {
    margin: 0;
  }

  @media (min-width: 960px) {
  }
}

.form-photo__filters {
  flex-basis: 320px;

  @media (min-width: 660px) {
    flex-basis: 275px;
    box-sizing: border-box;
  }

  @media (min-width: 960px) {
    flex-basis: 410px;
  }
}

.form-photo__btn-group {
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-photo__file {
  display: none;
}
