.new-post {
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  color: $color-darkblue;
  text-align: center;
  background: #f2f2f2;

  @media (min-width: 960px) {
    margin-bottom: 32px;
    width: 940px;
  }
}

.new-post__container {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media (min-width: 660px) {
    padding-top: 55px;
    padding-bottom: 50px;
    width: 620px;
  }

  @media (min-width: 960px) {
    margin-left: 80px;
    margin-right: 60px;
    width: 800px;
  }
}

.new-post__title {
  margin: 0;
  padding: 0 20px;
  padding-top: 23px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  background: #fff;

  @media (min-width: 660px) {
    font-size: 18px;
    padding-top: 43px;
    padding-bottom: 70px;
  }

  @media (min-width: 960px) {
    padding-top: 0;
  }
}
