.page-header {
  position: relative;
  min-height: 495px;
  background-color: #1d2632;
  background-image:   url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: bottom;
  color: #fff;

  @media (min-width: 660px) {
    min-height: 695px;
  }

  @media (min-width: 980px) {
    min-height: 395px;
  }

  &--main {
    min-height: 425px;
    background-image:
      url(../img/iphone-hand-mobile@1x.png),
      url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: contain cover;
    background-position: center;

    @media (min-width: 660px) {
      margin-bottom: 0;
      min-height: 600px;
      background-position: center bottom;
    }

    @media (min-width: 980px) {
      min-height: 800px;
    }
  }
}

.page-header__container {
  @include container;
  width: 320px;
}

.page-header__title {
  margin-top: 35px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  @media (min-width: 660px) {
    margin-top: 70px;
  }
}

.page-header__logo {
  position: absolute;
  width: 100%;

  img {
    position: relative;
    z-index: 1;
    margin-top: 22px;

    @media (min-width: 660px) {
      margin-top: 45px;
    }
  }
}

.page-header__logo-container {
  @include container;
  @include clearfix;
}
