.page-header {
  position: relative;
  min-height: 235px;
  background-color: #1d2632;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  color: #fff;

  @media #{$retina} {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 700px auto;
  }

  @media (min-width: 660px) {
    min-height: 440px;
    background-image: url(../img/bg-back-tablet@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: 1200px auto;
    }
  }

  @media (min-width: 960px) {
    min-height: 395px;
    background-image: url(../img/bg-back-desktop@1x.jpg);

    @media #{$retina} {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px auto;
    }
  }

  &--main {
    margin-bottom: 270px;
    min-height: 460px;
    background-image:
      url(../img/iphone-hand-mobile@1x.png),
      url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: auto, auto;
    background-position: 0 bottom, bottom;

    @media #{$retina} {
      background-image:
        url(../img/iphone-hand-mobile@2x.png),
        url(../img/bg-back-mobile@2x.jpg);
      background-size: 258px auto, 700px auto;
    }

    @media (min-width: 660px) {
      margin-bottom: 0;
      min-height: 600px;
      background-image:
        url(../img/iphone-hand-tablet@1x.png),
        url(../img/bg-back-tablet@1x.jpg);
      background-position: 100% bottom, bottom;

      @media #{$retina} {
        background-image:
          url(../img/iphone-hand-tablet@2x.png),
          url(../img/bg-back-tablet@2x.jpg);
        background-size: 700px auto, 1200px auto;
      }
    }

    @media (min-width: 960px) {
      min-height: 800px;
      background-image:
        url(../img/iphone-hand-desktop@1x.png),
        url(../img/bg-back-desktop@1x.jpg);
      background-position: 100% bottom, bottom;

      @media #{$retina} {
        background-image:
          url(../img/iphone-hand-desktop@2x.png),
          url(../img/bg-back-desktop@2x.jpg);
        background-size: 1050px auto, 2560px auto;

      }
    }
  }
}

.page-header__container {
  @include container;
  width: 320px;
}

.page-header__title {
  margin-top: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  @media (min-width: 660px) {
    margin-top: 70px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: 960px) {
    margin-top: 60px;
  }
}

.page-header__logo {
  position: absolute;
  left: 20px;
  top: 22px;
  width: 100%;
  z-index: 2;

  @media (min-width: 660px) {
    top: 27px;
    left: 0;
  }

  img {

    @media (min-width: 660px) {
      width: 147px;
      height: 40px;
    }
  }
}

@media (min-width: 660px) {
  .page-header__logo-wrapper {
    position: relative;
    @include container;
  }
}
