.page-footer {
  padding: 40px 0;

  @media (min-width: 660px) {
    padding: 35px 0;
  }

  @media (min-width: 960px) {
    padding: 70px 0;
  }

  &--main {
    display: none;

    @media (min-width: 660px) {
      display: block;
    }
  }
}

.page-footer__container {
  @include container;
  font-size: 0;
}

.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 32px;
  display: block;
  text-align: center;

  @media (min-width: 660px) {
    margin-bottom: 0;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    text-align: left;
  }

  &:hover {
    fill: $color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}
