.price-table {

/* Как лучше отцентровать таблицу на мобильном? */

  margin-bottom: 40px;
  width: 100%;

  @media (max-width: 659px) {
    table-layout: fixed;
  }

  @media (min-width: 660px) {
    margin-bottom: 0;
  }
}

.price-table__head {
  padding: 15px;
  background-color: $color-darkblue;
  box-sizing: border-box;
  width: 278px;
  height: 99px;

  @media (min-width: 660px) {
    padding: 5px;
    min-width: 25%;
    height: 80px;
  }

  @media (min-width: 960px) {
    height: 100px;
  }

  &:first-of-type {
    background-color: transparent;
  }

}

.price-table__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  @media (min-width: 660px) {
    font-size: 16px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.price-table__bill {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;

  @media (min-width: 660px) {
    font-size: 18px;
  }

  @media (min-width: 960px) {
    font-size: 24px;
  }
}

.price-table__cell {
  position: relative;
  padding: 14px 25px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background: #fff;
  box-sizing: border-box;

  svg {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 30px;
    height: 25px;

    @media (min-width: 660px) {
      top: 10px;
      right: 50%;
      margin-right: -15px;
    }
  }

  &--yes {
    svg {
      fill: #3dc644;
    }
  }

  &--no {
    svg {
      fill: #f25b26;
    }
  }

  @media (min-width: 660px) {
    padding: 7px 15px;
    text-transform: capitalize;

    &:nth-child(n+2) {
      font-size: 0;
    }
  }

  @media (min-width: 960px) {
    padding: 14px 20px;
    font-size: 18px;
  }
}

.price-table__row {
  width: 100%;
}
