.reviews {
  padding-top: 42px;
  padding-bottom: 40px;

  @media (min-width: 660px) {
    padding-top: 10px;
    padding-bottom: 20px;
  }


  @media (min-width: 960px) {
    padding-top: 187px;
    padding-bottom: 10px;
    background-image: url(../img/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: center 21%;
  }

}

.reviews__container {
  position: relative;
  @include container;
}
