.review {
  position: relative;
  display: none;
  margin: 0;

  &--active {
    display: block;

    @media (min-width: 660px) {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }

    @media (min-width: 960px) {
    }
  }
}

.review__author {
  margin-bottom: 14px;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000;
  text-align: center;

  @media (min-width: 660px) {
    order: 2;
    font-size: 20px;
    bottom: 0;
    width: 100%;
  }

  @media (min-width: 960px) {
    font-size: 24px;
  }

  span {
    display: none;
    font-size: 14px;
    font-weight: 400;
    color: $color-darkblue;

    @media (min-width: 660px) {
      display: block;
    }

    @media (min-width: 960px) {
      font-size: 18px;
    }
  }
}

.review__content {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 30px;
  color: $color-darkblue;
  text-align: center;

  @media (min-width: 660px) {
    order: 1;
    margin-bottom: 35px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}
