.slider__toggles {
  position: relative;
  text-align: center;
  font-size: 0;

  &--table {
    @media (min-width: 660px) {
      display: none;
    }
  }

  &--review {
    @media (min-width: 960px) {
      display: none;
    }
  }
}

.slider__toggle {
  padding: 0;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;

  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid #000;
    background: #fff;
  }
}
