.slider__toggles {
  text-align: center;
  font-size: 0;

  &--table {
    @media (min-width: 660px) {
      display: none;
    }
  }

  &--review {
    @media (min-width: 960px) {
      display: none;

      &:before {
        content: "werfjk";
      }
    }
  }
}

.slider__toggle {
  padding: 0;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    background: #7e868f;
  }

  &:active {
    background: #e9ebec;
  }


  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid #000;
    background: #fff;

    &:hover {
      background: #fff;
    }

    &:active {
    background: #fff;
    }
  }
}

.slider__arrow {
  display: none;

  @media (min-width: 960px) {
    display: block;
    padding: 0;

    position: absolute;
    top: 25px;
    width: 22px;
    height: 41px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 0.6;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}
