.user-gallery__title {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-darkblue;
  text-align: center;
}

.user-gallery__container {
  margin: 0 auto;
  font-size: 0;

  @media (min-width: 660px) {
    @include container;
  }
}
