.user-post {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 20px;
  background: #f2f2f2;
  color: $color-darkblue;
  font-size: 14px;
  text-align: center;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;
    height: auto;
  }

  @media (min-width: 980px) {
    min-height: 555px;
  }

  &--panorama {
    display: block;
    margin: 0 auto;
    width: 320px;
    min-height: auto;

    img {
      width: 100%;
    }

    @media (min-width: 660px) {
      width: 100%;
    }
  }
}

.user-post__message {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-post__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  span {
    font-weight: 300;
  }
}

.user-post__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}

.user-post__rating {
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  color: $color-pink;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
