.user-post {
  margin: 0 auto;
  margin-bottom: 20px;
  color: $color-darkblue;
  font-size: 14px;
  text-align: left;

  img {
    display: block;
  }

  @media (min-width: 660px) {
    margin: 0;
    margin-bottom: 20px;
    width: 300px;
  }

  @media (min-width: 960px) {
    margin-bottom: 55px;
  }

  &--panorama {

    img {
      width: 100%;
    }

    @media (min-width: 660px) {
      margin-bottom: 52px;
      width: 100%;
    }
  }
}

.user-post__container {
  margin: 0 auto;
  width: 280px;
  background: #f2f2f2;

  @media (min-width: 660px) {
    margin: 0;
    width: auto;
  }

  &--panorama {
    @media (min-width: 660px) {
      @include container;
    }
  }
}

.user-post__name-wrapper {
  position: relative;
  display: block;
  @include container;
}

.user-post__name {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: $color-pink;

  @media (min-width: 660px) {
    top: 57px;
  }
}

.user-post__message {
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 20px;

  @media (min-width: 660px) {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 30px;
    padding-bottom: 23px;
    min-height: 155px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-basis: 100%;
  }

  &--panorama {
    @media (min-width: 660px) {
      padding-bottom: 23px;
      min-height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

  }
}

.user-post__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  span {
    font-weight: 300;
  }

  &--panorama {
    order: 1;
  }
}

.user-post__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 660px) {
    margin-bottom: auto;
  }

  &--panorama {
    @media (min-width: 660px) {
      order: 3;
    }
  }
}

.user-post__rating {

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &--panorama {
    @media (min-width: 660px) {
      margin-left: auto;
      order: 2;
      display: flex;
      flex-basis: auto;
      justify-content: flex-start;
    }
  }
}

.user-post__rating-btn {
  fill: $color-pink;
  vertical-align: middle;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.user-post__rating-text {
  margin-left: 15px;
  color: $color-pink;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 660px) {
    margin-left: 0;
    margin-right: 20px;
  }
}
